<h1>View <%= pluralize(@seasons.count, "Season") %></h1>
<table class="table table-dark">
	
	<thead>
		<tr>
			<th scope="col">Season</th>
			<th scope="col">Season Details</th>
		</tr>
	</thead>
	<tbody>
		<% @seasons.each do |season| %>
		<tr>
			<td><%= season.season %></td>
			<td><a class="btn btn-danger" href="/seasons/<%= season.id %>">Details</a>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<a class="btn btn-danger" href="/seasons/new">Add a Season</a>